.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

.span_12_of_12 {
  width: 100%; }

.span_11_of_12 {
  width: 91.53%; }

.span_10_of_12 {
  width: 82.06%; }

.span_9_of_12 {
  width: 74.6%; }

.span_8_of_12 {
  width: 66.13%; }

.span_7_of_12 {
  width: 57.66%; }

.span_6_of_12 {
  width: 49.2%; }

.span_5_of_12 {
  width: 40.73%; }

.span_4_of_12 {
  width: 32.26%; }

.span_3_of_12 {
  width: 19.8%; }

.span_2_of_12 {
  width: 17.55%; }

.span_1_of_12 {
  width: 6.866%; }

.hidden-md {
  display: none; }

@media (max-width: 768px) {
  .hidden-sm {
    display: none; }

  .hidden-md {
    display: none; }

  .span_3_of_12 {
    width: 25.8%; }

  .span_10_of_12 {
    width: 98%; }

  .photocontent {
    height: 100%; }

  .files, .photos, .sharing, .links, .events, .getstarted {
    margin-left: 16px;
    padding-left: 0px; }

  .buttonmenu {
    display: none;
    float: right;
    margin-right: 10px; }

  .sidebar {
    display: block;
    float: left;
    height: auto;
    width: 22%;
    height: 696px; }
    .sidebar .register {
      float: left;
      width: 100%;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      margin-bottom: 10px; }
      .sidebar .register p {
        color: #77829f; }
      .sidebar .register .name {
        width: 58%;
        margin-left: 16px; } }
@media (min-width: 992px) {
  .photocontent {
    height: 100%; }

  .content-right {
    height: 818px;
    width: 780px; }

  .sidebar {
    width: 190px; }

  .span_3_of_12 {
    width: 26.8%; }

  .register {
    width: 25%; } }
@media (max-width: 991px) {
  .span_10_of_12 {
    width: 98%; } }
@media (min-width: 992px) and (max-width: 1180px) {
  .span_10_of_12 {
    width: 78%; }

  .sidebar {
    display: block !important; }

  .sidebar.span_2_of_12 {
    width: 21.55%; }

  .content-right {
    height: 818px;
    width: 755px; }

  .span_3_of_12 {
    width: 27.8%; }

  .span_2_of_12 {
    width: 15.55%; }

  .register {
    width: 184px; }

  .photocontent {
    width: 850px; }

  .photocontent .temp {
    height: 818px; } }
@media (min-width: 1200px) {
  .hidden-sm {
    display: block; }

  .hidden-md {
    display: none !important; }

  .span_10_of_12 {
    width: 82%; }

  .span_3_of_12 {
    width: 30%; }

  .photocontent {
    height: 606px; }

  .mobile-menu {
    display: none; }

  .buttonmenu {
    display: none; }

  .sidebar {
    display: block !important;
    height: 818px;
    float: left;
    background-color: #444c63;
    width: 17.55%; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; }

  .hidden-md {
    display: block; }

  .photocontent {
    height: 100%; }

  .span_2_of_12 {
    width: 30.55%; }

  .files, .photos, .sharing, .links, .events, .getstarted {
    margin-left: 16px;
    padding-left: 0px; }

  .buttonmenu {
    display: block;
    float: right;
    margin-right: 10px; }

  .sidebar {
    display: none;
    float: left;
    height: auto;
    width: 98%; }
    .sidebar .register {
      float: left;
      width: 100%;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      margin-bottom: 10px; }
      .sidebar .register p {
        color: #77829f; }
      .sidebar .register .name {
        width: 58%;
        margin-left: 16px; } }
@media (max-width: 767px) {
  .hidden-sm {
    display: none !important; }

  .hidden-md {
    display: block; }

  .span_10_of_12 {
    width: 99.06%; }

  .span_3_of_12 {
    width: 32.8%; }

  .span_2_of_12 {
    width: 30.55%; }

  .photocontent {
    height: 100%; }

  .files, .photos, .sharing, .links, .events, .getstarted {
    margin-left: 16px;
    padding-left: 0px; }

  .buttonmenu {
    display: block;
    float: right;
    margin-right: 10px; }

  .sidebar {
    display: none;
    float: left;
    height: auto;
    width: 99.06%; }
    .sidebar .register {
      float: left;
      width: 100%;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      margin-bottom: 10px; }
      .sidebar .register p {
        color: #77829f; }
      .sidebar .register .name {
        width: 58%;
        margin-left: 16px; } }
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; }

  .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
    width: 100%; }

  .span_2_of_12 {
    width: 49.55%; }

  .files, .photos, .sharing, .links, .events, .getstarted {
    margin-left: 16px;
    padding-left: 0px; }

  .buttonmenu {
    display: block;
    float: right;
    margin-right: 10px; }

  .sidebar {
    display: none;
    float: left;
    height: auto;
    width: 100%; }
    .sidebar .register {
      float: left;
      width: 100%;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      margin-bottom: 10px; }
      .sidebar .register p {
        color: #77829f; }
      .sidebar .register .name {
        width: 58%;
        margin-left: 16px; }

  .hidden-md {
    display: block; } }

/*# sourceMappingURL=responsive.css.map */
