@font-face {
  font-family: 'open_sansbold';
  src: url("../font/psabi1oc-webfont.eot");
  src: url("../font/psabi1oc-webfont.eot?#iefix") format("embedded-opentype"), url("../font/psabi1oc-webfont.woff2") format("woff2"), url("../font/psabi1oc-webfont.woff") format("woff"), url("../font/psabi1oc-webfont.ttf") format("truetype"), url("../font/psabi1oc-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansregular';
  src: url("../font/dxhbjhzg-webfont.eot");
  src: url("../font/dxhbjhzg-webfont.eot?#iefix") format("embedded-opentype"), url("../font/dxhbjhzg-webfont.woff2") format("woff2"), url("../font/dxhbjhzg-webfont.woff") format("woff"), url("../font/dxhbjhzg-webfont.ttf") format("truetype"), url("../font/dxhbjhzg-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  padding: 0px;
  margin: 0px;
  width: 100%; }

html {
  background: url("../image/wrapper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.temp {
  display: none; }

.photocontent .temp {
  display: block; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1150px; } }
.iconbox {
  margin-bottom: 34px; }

.box {
  background: url("../image/iconBox.png") no-repeat;
  width: 44px;
  height: 40px;
  display: block;
  margin: 15px auto; }

.wrapper {
  width: 1150px;
  margin: 75px auto;
  min-height: 100%;
  height: auto !important;
  height: 100%; }

.sidebar {
  height: 818px;
  float: left;
  background-color: #444c63; }

.iconfile {
  background: url("../image/iconFile.png") no-repeat;
  width: 18px;
  display: block;
  height: 24px; }

.iconphoto {
  background: url("../image/iconPhoto.png") no-repeat;
  width: 18px;
  height: 19px;
  display: block; }

.iconsharing {
  background: url("../image/iconSharing.png") no-repeat;
  width: 21px;
  height: 28px;
  display: block; }

.iconlinks {
  background: url("../image/iconLinks.png") no-repeat;
  width: 19px;
  height: 6px;
  display: block; }

.iconevents {
  background: url("../image/iconEvents.png") no-repeat;
  width: 21px;
  height: 20px;
  display: block; }

.icongetstarted {
  background: url("../image/iconGetStarted.png") no-repeat;
  width: 23px;
  height: 26px;
  display: block;
  float: left; }

.iconcounter {
  background: url("/image/iconCounter.png") no-repeat;
  width: 19px;
  height: 19px;
  display: block;
  float: left; }

.text {
  /* float: left; */
  color: #77829f;
  cursor: pointer;
  /* display: block; */
  font-size: 12pt;
  padding: 0px;
  font-family: 'open_sansregular';
  margin-bottom: 30px; }

.text:hover {
  color: white; }

ul {
  list-style: none; }

.progressbar {
  margin-top: 290px;
  margin-left: 32px; }

.progressbar p {
  color: white;
  font-weight: bold;
  font-family: 'open_sansbold';
  font-size: 10pt; }

.menu-item {
  margin-left: 16px;
  padding-left: 0px; }

.files {
  margin-top: 0px;
  padding-top: 7px; }

.image img {
  width: 100%;
  max-width: 100%; }

.content {
  padding-top: 70px; }

.content-right {
  background: white;
  float: left;
  height: 100%; }

.icon {
  display: block;
  float: left;
  width: 25px; }

.iconfile, .iconphoto, .iconsharing, .iconlinks, .iconevents, .icongetstarted {
  display: block;
  float: left;
  width: 36px; }

.counter {
  float: right;
  border: 1px solid #77829f;
  border-radius: 3px;
  margin-right: 13px;
  margin-top: 0px;
  display: block; }

.counter span {
  padding: 5px;
  color: #00b5f9; }

.menu {
  /* margin:25px 15px 0px 18px; */
  /* border:1px solid black; */ }

.download {
  margin: 342px 15px 0px 18px; }

.icondata {
  background: url("../image/iconData.png") no-repeat;
  width: 18px;
  height: 18px;
  display: block;
  float: right;
  margin-right: 23px; }

.progressbarline {
  width: 150px;
  height: 3px;
  background-color: #363e54; }

.progressbarprogress {
  width: 75px;
  height: 3px;
  background-color: #00b5f9; }

.upgrade {
  width: 165px;
  height: 35px;
  background-color: #363E54;
  border-radius: 5px;
  border: 1px solid #00B5F9;
  display: block;
  margin: 57px 22px auto;
  vertical-align: middle;
  padding-right: 16px;
  font: 9pt 'open_sansbold';
  color: #FFF; }

.iconupgrade {
  background: url("../image/upgrade.png") no-repeat;
  display: inline-block;
  height: 9px;
  position: relative;
  width: 20px; }

.search {
  float: left;
  margin-top: 15px;
  margin-left: 24px;
  width: 65%; }

.header {
  height: 86px; }

.photoactions {
  float: left;
  margin-left: 26px;
  width: 95%;
  padding-bottom: 15px; }

.sort, .icon {
  display: block;
  height: 26px;
  padding-left: 5px; }

.actions {
  margin-top: 26px;
  float: left; }

.actions ul, .sort ul {
  padding: 0px;
  margin: 0px; }

.actions ul li, .sort ul li {
  display: inline-block; }

.sortbutton {
  width: 56px;
  height: 23px;
  display: block;
  font: 9pt 'open_sansbold';
  text-decoration: none;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 1px;
  text-align: center;
  padding-bottom: 5px;
  color: #697a94; }

.sortbutton:active {
  background-color: #28F;
  /* padding: 3px; */
  padding-left: 5px;
  padding-right: 4px;
  padding-top: 1px;
  border-radius: 10px;
  padding-bottom: 5px; }

.sortbutton:hover {
  background-color: #8CF;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  color: #222; }

.modified {
  float: right;
  color: #565d70;
  font-family: 'open_sansregular';
  padding: 0px;
  margin: 0px;
  font-size: 12px; }

.sort {
  float: right;
  height: 19px;
  margin-top: 26px; }

.line {
  width: 100%;
  background: #f3f3f3;
  height: 1px;
  margin-top: 8px;
  float: left; }

.uploadicon {
  background: url("../image/new_icon.png") no-repeat; }

.newfoldericon {
  background: url("../image/iconfolde_new.png") no-repeat; }

.shareicon {
  background: url("../image/share_icon.png") no-repeat; }

.deleteicon {
  background: url("../image/delete_icon.png") no-repeat;
  float: right; }

.dropdelete {
  width: 129px;
  height: 95px;
  margin-top: -68px;
  margin-left: 90px;
  position: absolute; }

.item {
  height: 218px;
  width: 181px;
  margin-left: 3px;
  margin-bottom: 20px;
  float: left; }

.item .name {
  margin-top: 4px; }

.tooltip {
  position: absolute;
  width: 56px;
  height: 23px;
  border-style: solid;
  border-width: 1px;
  border-color: #c3cbe1;
  background-color: white;
  border-radius: 4px;
  margin-top: 25px; }

.tooltip:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #c3cbe1;
  top: -5px;
  left: 6px; }

.tooltip span {
  margin-top: 2px;
  display: block;
  margin-left: 4px;
  font-family: 'open_sansregular';
  font-size: 14px;
  color: #9da4b8; }

.check {
  background: url("../image/icon_check.png") no-repeat;
  height: 28px;
  width: 28px;
  display: block;
  margin-left: 130px;
  margin-top: 10px;
  position: absolute; }

.opacity {
  position: absolute;
  height: 135px;
  background: red;
  width: 165px;
  background-color: #141415;
  opacity: 0.6; }

.item .itemcontent {
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px; }

.item .size {
  margin-top: 5px; }

.item .name p {
  color: #565d70;
  font-family: 'open_sansregular';
  padding: 0px;
  margin: 0px; }

.item .size p {
  color: #565d70;
  font-family: 'open_sansregular';
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  float: left; }

.photoactions h3 {
  font-size: 15pt;
  padding: 0px;
  font-family: 'open_sansregular';
  margin: 0px;
  font-weight: normal; }

.photocontent {
  width: 100%;
  height: 606px;
  margin-top: 40px;
  margin-left: 13px; }

.photocontent section {
  float: left; }

.photocontent .active {
  padding: 0px;
  cursor: pointer;
  height: 210px;
  border-style: solid;
  border-width: 1px;
  border-color: #efefef;
  border-radius: 3px;
  background-color: #f9f9f9; }

.search-input {
  color: #c6cbdb;
  border-bottom: 1px solid #f2f3f5;
  font-family: 'open_sansregular';
  background: url("../image/icon_search.png") no-repeat left;
  padding-left: 15px;
  height: 30px;
  padding-right: 0px;
  /* padding: 11px; */
  border: 1px solid white;
  /* background: cadetblue; */
  width: 100%; }

.search-input:focus {
  border: 1px solid white;
  outline: none; }

.caret {
  background: url("../image/st.png") no-repeat;
  height: 8px;
  width: 8px;
  display: block;
  float: right;
  margin-top: 6px;
  margin-right: 14px; }

.register {
  margin-left: 0px;
  margin-top: 7px;
  float: right;
  width: 19%; }

.name p {
  font-family: 'open_sansregular';
  font-size: 14px; }

.bell {
  background: url("../image/icon_register.png") no-repeat;
  height: 22px;
  width: 15px;
  display: block;
  float: left;
  padding-right: 13px; }

.move-right > .content-right {
  -ms-transform: translate(186px, 0);
  -webkit-transform: translate3d(186px, 0, 0);
  -moz-transform: translate3d(186px, 0, 0);
  -ms-transform: translate3d(186px, 0, 0);
  -o-transform: translate3d(186px, 0, 0);
  transform: translate3d(186px, 0, 0); }

.bla {
  float: right;
  margin-left: 20px;
  border: 1px solid black;
  width: 170px; }

.mobile-menu {
  display: none;
  background-color: #444c63;
  height: 100%;
  float: left;
  width: 186px;
  height: 100%;
  margin-bottom: 10px;
  top: 0;
  bottom: 0;
  left: 0px;
  position: absolute;
  z-index: 1001;
  overflow-y: auto;
  transition: visibility 0s linear 0.5s,opacity 0.5s linear; }

.buttonmenu {
  width: 54px;
  padding-left: 15px;
  margin-left: 22px;
  margin-top: 10px;
  height: 35px;
  text-align: center;
  background-color: #363E54;
  border-radius: 5px;
  border: 2px solid #00B5F9;
  vertical-align: middle;
  padding-right: 16px;
  font: 9pt 'open_sansbold';
  color: #FFF;
  display: none;
  /* margin: 10px auto; */ }

ul .menu li {
  width: 200px;
  height: 200px;
  float: left;
  padding: 0;
  margin: 0; }

.icon-line {
  margin-top: 2px;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #888; }

.listfile {
  font-family: 'open_sansregular';
  font-size: 14px;
  color: #363E54;
  text-align: center; }

.list {
  font-family: 'open_sansregular';
  font-size: 14px;
  color: #363E54;
  text-align: center; }

.filescontent ol {
  counter-reset: li;
  list-style: none;
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin: 40px auto;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  width: 50%; }

.filescontent a {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: 1.5em 0;
  background: #ddd;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out; }

.filescontent a:hover {
  background: #eee; }

.filescontent a:hover:before {
  transform: rotate(360deg); }

.filescontent a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #87ceeb;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out; }

.interestinglinks {
  font-family: 'open_sansregular';
  color: #363E54;
  text-align: center;
  font-style: italic;
  font-weight: bold; }

.linkscontent ol {
  counter-reset: li;
  list-style: none;
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin: 40px auto;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  width: 50%; }

.linkscontent a {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: 1.5em 0;
  background: #ddd;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out; }

.linkscontent a:hover {
  background: #eee; }

.linkscontent a:hover:before {
  transform: rotate(360deg); }

.linkscontent a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #87ceeb;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out; }

.show {
  position: absolute;
  top: 60px;
  width: 145px;
  display: none;
  left: 41px;
  text-decoration: none; }

.showtext {
  color: red;
  text-decoration: none;
  font-size: 17px; }

/*# sourceMappingURL=style.css.map */
