/*
Error: Invalid CSS after "  src: ": expected selector or at-rule, was "url('font/psabi..."
        on line 3 of styles_new.scss

1: @font-face
2:   font-family: 'open_sansbold'
3:   src: url('font/psabi1oc-webfont.eot')
4:   src: url('font/psabi1oc-webfont.eot?#iefix') format("embedded-opentype"), url('font/psabi1oc-webfont.woff2') format("woff2"), url('font/psabi1oc-webfont.woff') format("woff"), url('font/psabi1oc-webfont.ttf') format("truetype"), url('font/psabi1oc-webfont.svg#open_sansbold') format("svg")
5:   font-weight: normal
6:   font-style: normal
7: 
8: 

Backtrace:
styles_new.scss:3
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1167:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:43:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/plugin.rb:82:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:51:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.13/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.4.13/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  src: \": expected selector or at-rule, was \"url('font/psabi...\"\A         on line 3 of styles_new.scss\A \A 1: @font-face\A 2:   font-family: 'open_sansbold'\A 3:   src: url('font/psabi1oc-webfont.eot')\A 4:   src: url('font/psabi1oc-webfont.eot?#iefix') format(\"embedded-opentype\"), url('font/psabi1oc-webfont.woff2') format(\"woff2\"), url('font/psabi1oc-webfont.woff') format(\"woff\"), url('font/psabi1oc-webfont.ttf') format(\"truetype\"), url('font/psabi1oc-webfont.svg#open_sansbold') format(\"svg\")\A 5:   font-weight: normal\A 6:   font-style: normal\A 7: \A 8: "; }
