@font-face
  font-family: 'open_sansbold'
  src: url('font/psabi1oc-webfont.eot')
  src: url('font/psabi1oc-webfont.eot?#iefix') format("embedded-opentype"), url('font/psabi1oc-webfont.woff2') format("woff2"), url('font/psabi1oc-webfont.woff') format("woff"), url('font/psabi1oc-webfont.ttf') format("truetype"), url('font/psabi1oc-webfont.svg#open_sansbold') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'open_sansregular'
  src: url('font/dxhbjhzg-webfont.eot')
  src: url('font/dxhbjhzg-webfont.eot?#iefix') format("embedded-opentype"), url('font/dxhbjhzg-webfont.woff2') format("woff2"), url('font/dxhbjhzg-webfont.woff') format("woff"), url('font/dxhbjhzg-webfont.ttf') format("truetype"), url('font/dxhbjhzg-webfont.svg#open_sansregular') format("svg")
  font-weight: normal
  font-style: normal


body
  padding: 0px
  margin: 0px
  width: 100%

.background1
  background: url('image/wrapper.jpg') no-repeat
  width: 1380px
  height: 1100px
  border: 1px solid white
  margin: 0 auto

.icon_box
  margin-bottom: 34px

.box
  background: url('image/iconBox.png') no-repeat
  width: 44px
  height: 40px
  display: block
  margin: 15px auto

.wrapper
  width: 1150px
  height: 818px
    /*    border:1px solid black;
  margin: 141px auto
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.5)

.site_bar
  width: 203px
  height: 818px
  float: left
  background-color: #444c63

.icon_file
  background: url('image/iconFile.png') no-repeat
  width: 18px
  height: 22px
  display: block

.icon_photo
  background: url('image/iconPhoto.png') no-repeat
  width: 18px
  height: 19px
  display: block

.icon_sharing
  background: url('image/iconSharing.png') no-repeat
  width: 21px
  height: 28px
  display: block

.icon_links
  background: url('image/iconLinks.png') no-repeat
  width: 19px
  height: 6px
  display: block

.icon_events
  background: url('image/iconEvents.png') no-repeat
  width: 21px
  height: 20px
  display: block

.icon_get_started
  background: url('image/iconGetStarted.png') no-repeat
  width: 23px
  height: 26px
  display: block
  float: left

.icon_counter
  background: url('image/iconCounter.png') no-repeat
  width: 19px
  height: 19px
  display: block
  float: left

.text
  float: left
  color: #77829f
  cursor: pointer
  font-size: 12pt
  font-family: 'open_sansregular'
  &:hover
    color: white

ul
  list-style: none

.progress_bar
  margin-top: 330px
  margin-left: 32px
  p
    color: white
    font-weight: bold
    font-family: 'open_sansbold'
    font-size: 10pt

.files, .photos, .sharing, .links, .events, .get_started
  margin-left: 16px
  margin-bottom: 21px
  height: 25px
  padding: 0px

.content
  background: white
  background: white
  float: left
  width: 82.34%
  height: 100%

.icon_file, .icon_photo, .icon_sharing, .icon_links, .icon_events, .icon_get_started
  display: block
  float: left
  width: 40px

.counter
  float: right
  border: 1px solid #77829f
  border-radius: 3px
  margin-right: 13px
  span
    padding: 5px
    color: #00b5f9

.download
  margin: 342px 15px 0px 18px

.icon_data
  background: url('image/iconData.png') no-repeat
  width: 18px
  height: 18px
  display: block
  float: right
  margin-right: 23px

.progress_bar1
  width: 150px
  height: 3px
  background-color: #363e54

.progress_bar2
  width: 75px
  height: 3px
  background-color: #00b5f9

.upgrade
  width: 165px
  height: 35px
  background-color: #363E54
  border-radius: 5px
  border: 1px solid #00B5F9
  display: block
  margin: 57px 22px auto
  vertical-align: middle
  padding-right: 16px
  font: 9pt 'open_sansbold'
  color: #FFF

.icon_upgrade
  background: url(image/upgrade.png) no-repeat
  display: inline-block
  height: 9px
  position: relative
  width: 20px

.search
  float: left
  margin-top: 15px
  margin-left: 24px
  width: 65%

.header
  height: 86px

.photo_actions
  float: left
  margin-left: 26px
  width: 95%

.sort, .icon
  display: block
  height: 26px
  padding-left: 5px
  width: 26px

.actions
  margin-top: 26px
  float: left
  ul
    padding: 0px
    margin: 0px

.sort ul
  padding: 0px
  margin: 0px

.actions ul li, .sort ul li
  display: inline-block

.sort_button
  width: 44px
  height: 15px
  display: block
  font: 9pt 'open_sansbold'
  text-decoration: none
  padding-left: 9px
  padding-right: 4px
  padding-top: 1px
  text-align: center
  padding-bottom: 5px
  color: #697a94

.active
  background: #444c63
  color: white
  /* padding: 3px;
  padding-left: 5px
  padding-right: 4px
  padding-top: 1px
  border-radius: 3px
  padding-bottom: 5px

.sort
  float: right
  height: 19px
  margin-top: 26px
  width: 20%

.line
  width: 100%
  background: #f3f3f3
  height: 1px
  margin-top: 8px
  float: left

.upload_icon
  background: url(image/new_icon.png) no-repeat

.new_folder_icon
  background: url(image/iconfolde_new.png) no-repeat

.share_icon
  background: url(image/share_icon.png) no-repeat

.delete_icon
  background: url(image/delete_icon.png) no-repeat

.item
  height: 218px
  width: 181px
  margin-left: 3px
  margin-bottom: 20px
  float: left
  .name
    margin-top: 4px

.tooltip
  position: absolute
  width: 56px
  height: 23px
  border-style: solid
  border-width: 1px
  border-color: rgb(195, 203, 225)
  background-color: rgb(255, 255, 255)
  border-radius: 4px
  &:after
    content: ''
    position: absolute
    width: 0
    height: 0
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    border-bottom: 5px solid rgb(195, 203, 225)
    top: -5px
    left: 6px
  span
    margin-top: 2px
    display: block
    margin-left: 4px
    font-family: 'open_sansregular'
    font-size: 14px
    color: #9da4b8

.check
  background: url(image/icon_check.png) no-repeat
  height: 28px
  width: 28px
  display: block
  margin-left: 130px
  margin-top: 10px
  position: absolute

.opacity
  position: absolute
  height: 135px
  background: red
  width: 165px
  background-color: rgb(20, 20, 21)
  opacity: 0.6

.item
  .item_content
    padding-top: 8px
    padding-left: 8px
    padding-right: 8px
  .size
    margin-top: 5px
  .name p
    color: #565d70
    font-family: 'open_sansregular'
    padding: 0px
    margin: 0px
  .size p
    color: #565d70
    font-family: 'open_sansregular'
    padding: 0px
    margin: 0px
    font-size: 12px

.photo_actions h3
  font-size: 15pt
  padding: 0px
  font-family: 'open_sansregular'
  margin: 0px
  font-weight: normal

.photo_content
  float: left
  width: 923px
  margin-top: 40px
  margin-left: 13px
  section
    float: left
  .active
    padding: 0px
    cursor: pointer
    height: 210px
    width: 181px
    border-style: solid
    border-width: 1px
    border-color: rgb(239, 239, 239)
    border-radius: 3px
    background-color: rgb(249, 249, 249)

.search-input
  color: #c6cbdb
  border-bottom: 1px solid #f2f3f5
  font-family: 'open_sansregular'
  background: url(image/icon_search.png) no-repeat left
  padding-left: 15px
  height: 30px
  padding-right: 0px
  /* padding: 11px;
  border: 1px solid white
  /* background: cadetblue;
  width: 100%
  &:focus
    border: 1px solid white
    outline: none

.caret
  background: url(image/st.png) no-repeat
  height: 8px
  width: 8px
  display: block
  float: right
  margin-top: 6px
  margin-right: 14px

.register
  //  float:right;
  margin-left: 0px
  margin-top: 7px
  float: right
  width: 19%
//  width: 170px;

.name p
  font-family: 'open_sansregular'
  font-size: 14px

.bell
  background: url(image/icon_register.png) no-repeat
  height: 22px
  width: 15px
  display: block
  float: left
  padding-right: 13px

.bla
  float: right
  margin-left: 20px
  border: 1px solid black
  width: 170px

  html
    background: url('image/wrapper.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;



