<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="css/lightbox.css" rel="stylesheet" />
</head>
<body>
<script id="layout-template" type="text/html">
    <div class="content-template">

    </div>
</script>
<script id="photos-list"  type="text/template">
    <div id="sorts" class="sort hidden-sm  span_3_of_12" class="button is-checked" style="position: absolute; top: 182px;right: 0;">
        <ul>
            <li><button class="sortbutton" data-sort-by="name_image">Name</button></li>
            <li><button class="sortbutton" data-sort-by="size">Size</button></li>
            <li><button class="sortbutton" data-sort-by="date_mod">Modified</button></li>
        </ul>
    </div>
        <main></main>
</script>
<script id="files-list"  type="text/template">

    </script>
<script id="photos-row"  type="text/template">

    <div class="item col span_2_of_12" data-id="<%= id %>">
        <div class="itemcontent">
            <div class="show">
                <p class="showtext"><a href="#">Get link for this</a></p>
            </div>
            <div class="image"><a href="<%= img_url %>" data-lightbox="roadtrip"><img src="<%= img_url %>" alt=""></a></div>
            <div class="name">
                <p><%= name_image %></p>
            </div>
            <div class="size">
                <p><%= size %></p>
            </div>
            <div class="modified">
                <p><%= date_mod %></p>
            </div>
        </div>
    </div>
    </div>
</script>


<script id="files-row" type="text/html">

    <a href="">
         <li><%= name_image %>
      <%= size %></li>
   </a>

</script>

<script id="files-template" type="text/html">
    <div class="content-right span_10_of_12"><div class="filescontent"></div></div>
    <div class="temp_files"></div>
</script>
<script id="sharing-template" type="text/html">
    <div class="content-right span_10_of_12">test3</div>
</script>


<script id="links-template" type="text/html">
<div class="content-right span_10_of_12"><div class="linkscontent">
   <h1 class="interestinglinks">Interesting links</h1>

    <ol class="links">
        <li><a href="http://placehold.it"> Image online generator: </a></li>
        <li><a href="http://imagemap-generator.dariodomi.de/">Easy imagemap generator</a></li>
        <li><a href="https://croper.ru/crop">Mini photoshop online</a></li>
        <li><a href="https://photoshop.camtasia.com.ua/">Photoshop online</a></li>
        <li><a href="https://www.photoshop-master.ru/lessons.php">Lessonso photoshop online</a></li>
    </ol>
</div></div>
</script>
<script id="events-template" type="text/html">
    <div class="content-right span_10_of_12">test5</div>
</script>
<script id="getstarted-template" type="text/html">
    <div class="content-right span_10_of_12">test6</div>
</script>

<script id="photos-template" type="text/html">

    <div class="content-right span_10_of_12">
        <button class="buttonmenu">
            <span class="icon-line"></span>
            <span class="icon-line"></span>
            <span class="icon-line"></span>
        </button>
        <div class="header">
            <div class="search">
                <form>
                    <input type="text" class="search-input" placeholder="Search...">
                </form>
            </div>
            <div class="register hidden-sm">
                <div class="name">
                    <span class="bell"></span>
                    <p> Eddie Lobanovskiy <a href="#" class="caret"></a></p>
                </div>
            </div>
        </div>
        <div class="photoactions">
            <h3>Photos</h3>
            <div class="actions span_2_of_12">
                <ul>
                    <li>
                        <a class="uploadicon icon" href="#"></a>
                        <div class="tooltip" data-content="Upload" data-tooltip><span>Upload</span></div>
                    </li>
                    <li><a class="newfoldericon icon" href="#"></a></li>
                    <li><a class="shareicon icon" href="#"></a></li>
                    <li><a class="deleteicon icon" href="#"></a></li> <div class="dropdelete"></div>
                </ul>

            </div>
            <div  class="sort_insert" >

            </div>
            <div class="line hidden-sm"></div>
        </div>
        <div class="photocontent col span_12_of_12">


        </div>
    </div>
    <div class="temp"></div>
</script>

<div class="container">

    <div class="content">

        <div class="sidebar span_2_of_12">

            <div class="iconbox">
                <a href="#" class="box"></a>
            </div>
            <div class="register hidden-md">
                <div class="name">
                    <span class="bell"></span><a href="#" class="caret hidden-sm"></a>
                    <p> Eddie Lobanovskiy </p>
                </div>
            </div>
            <div class="menu">
                <ul class="menu-item">
                    <li>
                        <a href="#files" class="iconfile"></a>
                        <p class="text">Files</p>
                    </li>
                    <li>
                        <a href="#photos" class="iconphoto"></a>
                        <p class="text">Photos</p>
                    </li>
                    <li>
                        <a href="#sharing" class="iconsharing"></a>
                        <p class="text">Sharing</p>
                    </li>
                    <li>
                        <a href="#links" class="iconlinks"></a>
                        <p class="text">Links</p>
                    </li>
                    <li>
                        <a href="#events" class="iconevents"></a>
                        <p class="text">Events</p>
                    </li>
                    <li>
                        <a href="#getstarted" class="icongetstarted"></a>
                        <p class="counter"><span>3</span></p>
                        <p class="text">Get Started</p>
                    </li>
                </ul>
            </div>
            <div class="progressbar hidden-sm">
                <div class="info">
                    <p> 50GB / 100GB <a href="#" class="icondata"></a></p>
                </div>
                <div class="progressbarline">
                    <div class="progressbarprogress">
                    </div>
                </div>
            </div>
            <div class="buttonupgrade hidden-sm">
                <form>
                    <button class="upgrade"><span class="iconupgrade"></span> Upgrade account</button>
                </form>
            </div>
        </div>
        <div class="insert">


        </div>

    </div>

</div>
<script data-main="js/require_main.js" src="bower_components/requirejs/require.js"></script>
</body>
</html>